@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1260px;
    margin: auto;
    background-color: #ccc;
    height: 100vh;

    form {
        // background-color: orangered;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: #555;
        flex-wrap: wrap;

        label {
            margin-bottom: 5px;
            font-size: 19px;
        }

        input {
            width: 20%;
            margin-bottom: 20px;
            padding: 5px;
            font-size: 20px;
            outline: none;
            border: none;
            text-align: center;
            border-radius: 10px;
            color: #555;
        }

        #btn {
            margin-bottom: 20px;
            width: 15%;
            height: 3.5%;
            border: none;
            border-radius: 10px;
            font-size: 19px;
            color: #555;
            outline: none;
        }
    }
}